---
import type { HTMLAttributes } from "astro/types";
import { SITE_TITLE } from "@/consts";
import { type Lang, useTranslatedPath, useTranslations } from "@/i18n";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"a"> {}
const { class: className, ...attrs } = Astro.props as Props;
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import LogoDark from "../assets/dark-isotype.svg";
import LogoLight from "../assets/light-isotype.svg";
---

<a
  href={translatePath("/")}
  id="site-title"
  class={cn(
    "items-start gap-1 flex-[0_0_auto] inline-flex relative",
    "transition-colors",
    className,
  )}
  {...attrs}
  aria-label={t("logo.description")}
>
  <LogoLight
    width={32}
    height={32}
    fill="currentColor"
    class="relative flex-[0_0_auto] text-gray-800 block dark:hidden"
  />

  <LogoDark
    width={32}
    height={32}
    fill="currentColor"
    class="relative flex-[0_0_auto] text-white hidden dark:block"
  />

  <!-- Brand Text Container -->
  <div class="inline-flex flex-col items-end justify-center relative flex-[0_0_auto] -gap-1">
    <!-- Main Title -->
    <div
      class="relative w-fit text-xl font-semibold text-gray-800 dark:text-white whitespace-nowrap"
    >
      {SITE_TITLE}
    </div>

    <!-- Subtitle -->
    <div
      class="relative w-fit font-normal text-xs leading-[140%] text-gray-600 dark:text-gray-400 whitespace-nowrap"
    >
      {
        t({
          en: "for Astrum",
          es: "por Astrum",
        })
      }
    </div>
  </div>
</a>
