---
import type { HTMLAttributes } from "astro/types";
import { type Lang, useTranslations } from "@/i18n";
import { cn } from "@/lib/utils";
import { CTAEmail } from "./ui/cta-email";

interface Props extends HTMLAttributes<"section"> {
	title?: string;
	description?: string;
	formId?: string;
}

const { title, description, formId, ...attrs } = Astro.props as Props;
const currentLocale = Astro.currentLocale as Lang;
const t = useTranslations(currentLocale);
---

<section
	class={cn(
		"flex w-full will-change-transform",
		attrs.class
	)}
	id={formId}
	{...attrs}
>
	<div
		class={cn(
			"flex py-5 px-0",
			"transition-colors duration-[350ms] ease-in-out w-full"
		)}
	>
		<div class="flex gap-5 mx-auto w-full">
			<div class="flex flex-col w-full max-w-4xl">
				<h1
					class={cn(
						"text-gray-900 dark:text-white text-3xl @md:text-5xl font-bold leading-tight tracking-tight relative",
						"transition-colors duration-350 animate-fadeIn font-heading"
					)}
				>
					{title || t("cta.title")}
				</h1>
				<p
					class={cn(
						"text-gray-900 dark:text-white relative mt-2 text-base font-medium tracking-wide leading-relaxed",
						"animate-fadeIn animation-delay-150"
					)}
				>
					{description || t("cta.description")}
				</p>
					<div class="flex mt-6 w-full">
						<CTAEmail
        emailPlaceholder={t('hero.email.placeholder')}
        buttonText={t('hero.email.button')}
        size="default"
        alignment="left"
        class="items-start"
      />
					</div>
			</div>
		</div>
	</div>
</section>
