---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";
import { type ButtonVariants, buttonVariants } from "./ui/button";

interface Props extends HTMLAttributes<"a"> {
	variant?: ButtonVariants["variant"];
	size?: ButtonVariants["size"];
}
const {
	href,
	class: className,
	variant = "link",
	size = "default",
	...attrs
} = Astro.props;
---

<a href={href} {...attrs}
class={cn(buttonVariants({ variant, size }), className)}
>
  <slot />
</a>
