---
import { type Lang, useTranslations } from "@/i18n";
import { getArticles } from "@/models/article";
import { getSelectionStrategy } from "@/models/article/article-selection.strategy";
import ArticleBoxCard from "../ArticleBoxCard.astro";

const currentLanguage = Astro.currentLocale as Lang;
const t = useTranslations(currentLanguage);
const strategy = getSelectionStrategy("newest");
const latestArticles = await getArticles({
	includeDrafts: false,
	lang: currentLanguage,
}).then((articles) => strategy.select(articles, 3));
---

{latestArticles && latestArticles.length > 0 && (
    <section class="py-12 md:py-16 lg:py-20 bg-background">
        <div class="container mx-auto px-4">
            <div class="text-center mb-8 md:mb-12 max-w-4xl mx-auto">
                <h2 class="text-xl font-bold mb-2 uppercase tracking-wide text-muted-foreground">
                    {t('blog.section.title')}
                </h2>

                <h2 class="text-3xl md:text-4xl lg:text-[42px] font-bold text-foreground leading-tight">
                    {t('blog.section.subtitle')}
                </h2>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {latestArticles.map((article) => (
                    <ArticleBoxCard article={article} />
                ))}
            </div>
        </div>
    </section>
)}

<style>
    .container {
        max-width: 1200px;
    }
</style>
