---
import Footer from "@/components/sections/Footer.astro";
import { type Lang, LOCALES, useTranslations } from "@/i18n";
import Layout from "@/layouts/Base.astro";

const t = useTranslations(Astro.currentLocale as Lang);

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));
---

<Layout title={t('products.title')} description={t('products.description')}>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">{t('products.title')}</h1>
    <p>{t('products.contentPlaceholder')}</p>
  </main>
  <Footer />
</Layout>
